<h2>Home page.</h2>
<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Dynamic Content</h3>
    </div>
    <div class="panel-body">
      {{test}}<br>
      {{root}}/home/[data]
      <p>Replace [data] in the url to change the content</p>
        
    </div>
  </div>