html
{
    background: #C5C0C0;
}

body
{
    padding: 70px;
    max-width: 90%;
    margin: 0 auto; 
    background: #f3f3f3;
}

.list-item
{    
    margin-top: 1em;
    font-size: 1.2em;
    font-weight: bold;
}

.floated_image
{
    height: 200px; 
    width: auto; 
    float: right; 
    border: 1px solid #000;
}